:root {
    scale: 1 1;
}







.Share-button {
    transition-duration: 0.3s;
}

.Share-button:hover {
    scale: 1.2 1.2;
}

.Share-button:active {
    background-color: rgba(18, 255, 4, 0);
    -unity-background-image-tint-color: rgb(0, 255, 5);
    scale: 1 1;
    background-repeat: no-repeat no-repeat;
    transition-duration: 0.1s;
}
